* {
    margin: 0;
    padding: 0;
}

body {
    height: 1000px;
}

.satu, .dua, .tiga {
    height: 150px;
    width: 150px;
    margin-left: 15px;
}

.satu {
    background-color: coral;
    margin-top: 15px
}

.dua {
    background-color: darkslategray;
    position: relative;
    top: 100px;
    left: 100px;
}

.tiga {
    background-color: turquoise;
}